/** {
	margin: 0;
	padding: 0;
}*/

body {
	background: linear-gradient(#A6D0FC, #EFB0C9);
}

.main {
	font-family: 'Happy Monkey', sans-serif;
	background: linear-gradient(#A6D0FC, #EFB0C9);
	color: #FFF;
	text-shadow: 0 0 1px #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#img-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 175px;
	height: 175px;
	background: #EFB0C9;
	border-radius: 100%;
}

#bff-img {
	width: 170px;
	clip-path: circle(80px);
}

#bday-age {
	margin: 10px 0 10px 0;
	background: #EFB0C9;
	padding: 4px 10px;
	border-radius: 5px;
}

#bday-date {
	margin: 0;
	background: #EFB0C9;
	padding: 4px 10px;
	border-radius: 5px;
}

.gift-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	margin: 30px;
}

.gift-title {
	margin: 10px;
}

.gift-hint {
	margin: 0;
}

.gift-img {
	background: url('images/jason-dent-zUD0bPRl30o-unsplash.jpg');
	background-size: cover;
	width: 500px;
	height: 500px;
	border: solid #FFF 5px;
	border-radius: 5px;
	margin: 10px;
}

#gift-img-happy:hover {
	background-image: url(images/head-side-to-side.gif);
	background-size: cover;
	background-position: center;
}

#gift-img-hot:hover {
	background-image: url(images/nick-cage.gif);
	background-size: cover;
	background-position: right;
}

#gift-img-genius:hover {
	background-image: url(images/bravo.gif);
	background-size: cover;
	background-position: center;
}

#gift-img-badass:hover {
	background-image: url(images/hockey.gif);
	width: 700px;
	background-size: cover;
	background-position: center;
}

#gift-img-cheers:hover {
	background-image: url(images/office-champagne.gif);
	background-size: cover;
	background-position: left;
}

#footer {
	font-weight: bold;
}

.link {
	margin: -16px 0 0 0;
}

a {
	font-weight: bold;
	color: #FFF;
}

